- content_for :header do
  Update from GameShow:

- content_for :greetings do
  Hey #{@user.name},

You have #{@user.credits} credits.
%br
Your current position is #{@user.ladder.position.ordinalize}
with #{number_with_delimiter(@user.ladder.combined_score)} points. 
%br
- if @user.ladder.prize > 0
  You are currently winning #{pounds(@user.ladder.prize)}!
%table
  %tr
    %td{:colspan=>"2", :style => "border-bottom: 1px solid #455163;padding-top:30px;color:#ffffff;", :width => 500}
      Current tournament leader:
  %tr
    %td
      = image_tag(user_foto_url(@tournament_leader), :width => 64, :height => 64, :style => "border: 2px solid #ffffff;background-color:#ffffff")
    %td{:style => "padding:10px;color:white;text-align:left"}
      = @tournament_leader.name