%h1 Tournaments Admin
%p= link_to t('.new_tournament'), new_admin_tournament_path

%table{:cellpadding => 10, :cellspacing => 0}
  %thead
    %tr
      %th= Tournament.human_attribute_name :starts_at
      %th= Tournament.human_attribute_name :ends_at
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for tournament in @tournaments
      %tr{ :class => cycle(:odd, :even), :style => (tournament.active? ? "background: yellow;" : "") }
        %td= tournament.starts_at
        %td= tournament.ends_at
        %td.action= link_to t('show'), admin_tournament_path(tournament)
        %td.action= link_to t('edit'), edit_admin_tournament_path(tournament)
        %td.action= link_to t('destroy'), admin_tournament_path(tournament), :confirm => "Are you sure?", :method => :delete
