- content_for :title do
  Вся доставка еды
  
- content_for :og do
  %meta{:content => "#{HOST}/social_logo.png", :property => "og:image"}
  
- content_for :head do
  %meta{:name=>"description", :content=>"Вся доставка еды в Ростове-на-Дону: #{Item.count} блюд, #{Firm.count} фирм на одном сайте. #{@categories.map(&:name).join(', ')} в Ростове с доставкой на дом. Закажите прямо сейчас!"}  
  
%h1.font= yield :title

#main
  #tabs
    %ul#menu.header
      %li
        %a.font{:href=>"#tabs02", :rel=>'nofollow'} По фирмам (#{Firm.count})
      %li
        %a.font{:href=>"#tabs01", :rel=>'nofollow'} По блюдам (#{Item.count})
      .cl
  
    - cache("tabs01", :expires_in => 1.day) do
      #tabs01
        - counter = 0
        - @categories.each do |c|
          %a.category.clickable{:href => '/' +c.name, :title => "Заказать #{c.downcase}"}
            = image_tag(c.img(:medium), :alt => "Доставка #{c.downcase2} в Ростове-на-дону")
            .label.font
              = c.name
           
          - counter += 1
          - if counter % 6 == 0
            .cl
        .cl
  
    #tabs02
      - counter = 0
      - @firms.each do |f|
        %a.firm.clickable{:href => f.url, :class => (f.closed ? 'closed' : ''), :title => f.name}
          - if f.closed
            .sign Сейчас закрыто
          = image_tag(f.img(:thumb), :alt => "Доставка от #{f.name}")
         
        - counter += 1
        - if counter % 5 == 0
          .cl
      .cl

.googlead
  =render 'ads/default'

.description
  %h3 О проекте:
  %p
    Мало кто будет спорить с тем, что домашняя еда лучше и полезнее, чем многочисленные покупные продукты и прочее, прочее. Говорить об этом можно бесконечно.
  %p
    Тем не менее, современная городская жизнь была бы неполной, если бы в середине рабочего дня, так не хотелось бы побаловать себя вкусной пиццей или прочими экзотическими кулинарными изысками, которые предлагают нынешние сети общественного питания.
  %p
    Стоит отметить, что <b>доставка пиццы</b> – далеко не самая распространённая позиция в области выездного общественного питания. Ведь кроме итальянской кухни на русской земле удалось прижиться многим великолепным блюдам кавказской, японской и китайской кухни, которые не оставляют равнодушными почти никого!
  %p
    Кроме того, только на нашем ресурсе, все сервисы, которые осуществляют такие услуги, как <b>доставка еды</b>, оповещают своих клиентах о своих акциях и специальных предложениях! Никогда ещё экономить на вкусном обеде не было так просто и удобно!
  %p
    Таким образом, самая полная информация по списку фирм, которые доставляют еду, расположена только на нашем электронном ресурсе. Последние новости из мира цен на продукты общественного питания, полный список компаний-доставщиков, удобный функционал и приятный дизайн!

